{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile-pics/' + user.profile_pic) }}">
        <div class="media-body">
            <h2 class="account-heading font-italic">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <p class="text-secondary">{{ user.about_me }}</p>
            <p class="text-secondary">{{ user.followers.count()}} followers, {{ user.followed.count()}} following</p>
            {% if user.last_seen %}
                <p class="text-secondary">Last seen : {{ moment(user.last_seen).fromNow() }}</p>
            {% endif %}
            {% if not current_user.is_following(user) %}
                <p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
                {% else %}
                <p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
            {% endif %}
            <p><a href="{{ url_for('send_message', recipient=user.username) }}">Send Private Message</a></p>
        </div>
      </div>
    </div>
    <div class="article-metadata">
        <h3 class="text-center font-weight-light">Posts by {{user.username}} ({{ posts.total }})</h3>
    </div>
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile-pics/' + post.author.profile_pic) }}">
            <div class="media-body text-justify">
                <div class="article-metadata">
                    <span>{{ post.author.username }}</span>
                    <small class="text-muted">{{ moment(post.posted_on).fromNow() }}</small>
                </div>
                <h4>{{ post.title }}</h4>
                <p class="article-content">{{ post.body }}</p>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('get_user', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('get_user', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}