{% from "macros/form_field_macro.html" import displayFormField %}

{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ profile_pic }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
          <p class="text-secondary">{{ current_user.about_me }}</p>
          <p>{{ current_user.followers.count()}} followers, {{ current_user.followed.count()}} following</p>
        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>

                <!-- diplay form field using macro -->
                {{ displayFormField(form.username) }}
                {{ displayFormField(form.email) }}
                {{ displayFormField(form.about_me) }}

                <div class="form-group">
                    {{ form.profile_pic.label() }}
                    {{ form.profile_pic(class="form-control-file") }}
                    {% if form.profile_pic.errors %}
                        {% for error in form.profile_pic.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}