{% from "macros/form_field_macro.html" import displayFormField %}

{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Be One of Us Today</legend>

                <!-- diplay form field using macro -->
                {{ displayFormField(form.username) }}
                {{ displayFormField(form.email) }}
                {{ displayFormField(form.about_me) }}
                {{ displayFormField(form.password) }}
                {{ displayFormField(form.confirm_password) }}

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}