{% extends "layout.html" %}
{% block content %}
    <h3 class="text-center">Search Results</h3>
    {% for post in posts %}
        {% include 'single_post_layout.html' %}
    {% endfor %}
    <a class="btn btn-success float-left {% if not prev_url %} disabled{% endif %}" href="{{ prev_url or '#' }}">
        <span aria-hidden="true">&larr;</span>
        Previous
    </a>
    <a class="btn btn-success float-right {% if not next_url %} disabled{% endif %}" href="{{ next_url or '#' }}">
        Next
        <span aria-hidden="true">&rarr;</span>
    </a>
{% endblock %}
